@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Bold.woff2") format("woff2"), url("HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 
&display=swap
&subset=cyrillic-ext 
*/
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

body {
  line-height: 1;
  color: #fff;
  background-color: #333;
  font-family: "Helvetica Neue";
  font-weight: 400;
  color: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
.main-page__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: love;
          animation-name: love;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  padding: 120px 10px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-page__ima img {
  position: absolute;
  top: 23%;
  left: 9%;
  -webkit-transform: scale(0.4);
      -ms-transform: scale(0.4);
          transform: scale(0.4);
}

.main-page {
  max-width: 1000px;
  margin: 0 auto;
}

.main-page__eee {
  position: relative;
}

.main-page__imag {
  position: relative;
  padding-top: 100%;
}

.main-page__imag img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes love {
  0% {
    /* css свойства */
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    /* css свойства */
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    /* background: url("../img/shtora-back.png") 0px 0px no-repeat; */
  }
  100% {
    /* css свойства */
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    /* background: url("../img/shtora-back.png") 0px 0px no-repeat; */
  }
}

@keyframes love {
  0% {
    /* css свойства */
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    /* css свойства */
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    /* background: url("../img/shtora-back.png") 0px 0px no-repeat; */
  }
  100% {
    /* css свойства */
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    /* background: url("../img/shtora-back.png") 0px 0px no-repeat; */
  }
}
